1. Загружаем необходимые пакеты и библиотеки.

In [1]:
import pandas as pd

2. Загружаем данные.

In [2]:
data = pd.read_csv('dataset_for_lab1_V7.csv').iloc[:, 1:]
print(data)

      cement  blast_furnace_slag  fly_ash  water  superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      NaN  228.0               0.0
3      332.5               142.5      NaN  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0      NaN  179.6               8.9
1026   322.2                 0.0      NaN  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      coarse_aggregate  fine_aggregate   age  concrete_compressive_strength
0               1040.0            676.0   28                          79.99
1               1055.0            676.0   28                          61.89
2                932.0            594.0  270                          40.27
3                932.0            594.0  365                          41.05
4                978.4            825.5  360                          44.30
...                ...              ...  ...                            ...
1025             870.1            768.3   28                          44.28
1026             817.9            813.4   28                          31.18
1027             892.4            780.0   28                          23.70
1028             989.6            788.9   28                          32.77
1029             864.5            761.5   28                          32.40

[1030 rows x 9 columns]

3. Выполняем разведочный анализ данных.

a. Ознакомимся с данными с помощью методов описательной статистики.

In [3]:
# Верхние пять строк
data.head()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,NaN,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,NaN,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
# Определим размерность набора данных
data.shape

(1030, 9)

In [6]:
# Определим типы атрибутов в данных
data.dtypes

cement                           float64
blast_furnace_slag               float64
fly_ash                          float64
water                            float64
superplasticizer                 float64
coarse_aggregate                 float64
fine_aggregate                   float64
age                                int64
concrete_compressive_strength    float64
dtype: object

In [7]:
# Получим краткое описание данных
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cement                         1030 non-null   float64
 1   blast_furnace_slag             1030 non-null   float64
 2   fly_ash                        496 non-null    float64
 3   water                          1030 non-null   float64
 4   superplasticizer               1030 non-null   float64
 5   coarse_aggregate               1030 non-null   float64
 6   fine_aggregate                 1030 non-null   float64
 7   age                            1030 non-null   int64
 8   concrete_compressive_strength  1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [8]:
# Отобразим сводку по числовым атрибутам
data.describe()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
count,1030.000000,1030.000000,496.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,52.169556,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,62.846995,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.200000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

b. Выполним визуализацию данных.