### загружаем библиотеки

In [1]:
from openpyxl import load_workbook
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV

In [2]:
# book = load_workbook('V7RS41at_12.05.2014ТЗЧ_или_СС.xlsx')
# sheet = book.active
# classes = []
# # ignore_columns = []
# #
# # for column in range(1, sheet.max_column):
# #     if sheet[1][column].fill.fgColor.rgb == 'FFFFFF00':
# #         ignore_columns.append(column)
#
# for row in range(2,  sheet.max_row):
#     red_cell_in_row = False
#     for column in range(1, sheet.max_column):
#         # if column not in ignore_columns:
#         cell = sheet[row][column]
#         row_value = row - 1
#         while cell.value is None:
#             cell = sheet[row_value][column]
#             row_value -= 1
#         if cell.font.color.value == 'FFFF0000':
#             red_cell_in_row = True
#             break
#
#     if red_cell_in_row:
#         if classes[-1] == 0:
#             classes.append(2)
#         elif classes[-1] == 1:
#             classes.append(1)
#         elif classes[-3:] == [2, 2, 2]:
#             classes = classes[:-3] + [1, 1, 1, 1]
#         elif classes[-1] == 2:
#             classes.append(2)
#     else:
#         classes.append(0)
#
# print(classes)

In [3]:
classes = [0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 1, 1, 1, 1, 1, 1, 0, 2, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 2, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 2, 2, 0, 0, 1, 1, 1, 1, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### считываем данные

In [4]:
data = pd.read_excel('V7RS41at_12.05.2014ТЗЧ_или_СС.xlsx')
data

,Unnamed: 0,"Ubs,V","Ibs,A","Isun,A","RKPT,b","Sst0x,b","Sst1x,b","Ipt0,A","Ipt1,A","Ipt2,A",...,"SPrm2,V","VP,d","ShKom,d","Kmnd,d","God,h","Mes,h","Den,h","Chas,h","Min,h",Sec
0,2014-05-12 00:00:10,14.37,0.27,0.00,1000000.0,110.0,0.0,0.0,0.07,0.07,...,0.98,0.0,134.0,2020.0,14,5,12,0,0,10
1,2014-05-12 00:01:10,14.37,0.21,0.00,1000000.0,110.0,0.0,0.0,0.07,0.07,...,0.96,0.0,134.0,2020.0,14,5,12,0,1,10
2,2014-05-12 00:02:10,14.37,0.21,0.00,1000000.0,110.0,0.0,0.0,0.04,0.07,...,0.99,0.0,134.0,2020.0,14,5,12,0,2,10
3,2014-05-12 00:03:10,14.37,0.24,0.00,1000000.0,110.0,0.0,0.0,0.07,0.09,...,0.98,0.0,134.0,2020.0,14,5,12,0,3,10
4,2014-05-12 00:04:10,14.37,0.21,0.00,1000000.0,110.0,0.0,0.0,0.07,0.07,...,0.99,0.0,134.0,2020.0,14,5,12,0,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2014-05-12 23:55:49,14.69,0.27,0.03,1000000.0,110.0,0.0,0.0,0.09,0.07,...,0.99,0.0,180.0,2010.0,14,5,12,23,55,49
1436,2014-05-12 23:56:50,14.76,0.19,0.51,1000000.0,110.0,0.0,0.0,0.07,0.07,...,0.96,0.0,180.0,2010.0,14,5,12,23,56,50
1437,2014-05-12 23:57:50,14.76,0.24,0.93,1000000.0,110.0,0.0,0.0,0.09,0.09,...,0.99,0.0,180.0,2010.0,14,5,12,23,57,50
1438,2014-05-12 23:58:50,14.76,0.21,0.85,1000000.0,110.0,0.0,0.0,0.07,0.07,...,0.96,0.0,180.0,2010.0,14,5,12,23,58,50
1439,2014-05-12 23:59:50,14.76,0.19,0.43,1000000.0,110.0,0.0,0.0,0.07,0.09,...,0.98,0.0,180.0,2010.0,14,5,12,23,59,50

### удалим столбцы

In [5]:
columns_to_delete = ['RKPT,b','Sst0x,b','Sst1x,b','Ipt0,A', 'Mag0F', 'Mag10', 'Mag11', 'Mag12', 'Mag13',
                   'Mag14','Mag15','Mag16','Isp1,A','Isp2,A','Isp3,A','Isp4,A','Isp5,A','Isp6,A','Isp7,A',
                   'Isp8,A','Mag07','Mag08','Mag09','Mag0A','Mag0B','Mag0C','Mag0D','Mag0E','Mag03','Mag04',
                   'Mag05','Mag06','TDS11,C','TDS12,C','TDS14,C','TDS15,C','TDS17,C','TDS18,C','TDS20,C',
                   'TDS21,C','TDS23,C','iTMO,s','iTMD,s','U-chCAN', 'SSoTR,b','STDS12,b','STDS34,b','res0',
                   'U-MAG,o','U-KPT1,o','U-KPT2,o','U-InfGBV','U-GBV,o','U-InfNAP','TmUpr,b','RKwit,b','Rmorz,b',
                   'IntK_TM', 'RPrd1,b','RPrm1,b','RPrd2,b','RPrm2,b','FPrd1,V','RPrd1,V','FPrd2,V','RPrd2,V','SPrm1,V',
                   'SPrm2,V','VP,d','ShKom,d','Kmnd,d','God,h','Mes,h','Den,h','Chas,h', 'Min,h', 'Sec']
cleared_data = data.copy()
cleared_data.drop(data.columns[[0]], axis=1, inplace=True)
for column in columns_to_delete:
    cleared_data.drop(columns=[column], axis= 1, inplace=True)
cleared_data

,"Ubs,V","Ibs,A","Isun,A","Ipt1,A","Ipt2,A","Ipt3,A","Ipt4,A","Ipt5,A","Ipt6,A","Ipt7,A",...,"TDS6,C","TDS7,C","TDS8,C","TDS9,C","TKpt,C","TGbv,C","TNap,C","TPrd2,C","TPrd1,C","TDS24,C"
0,14.37,0.27,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,20.0,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0
1,14.37,0.21,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,20.0,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0
2,14.37,0.21,0.00,0.04,0.07,0.0,0.0,0.0,0.0,0.0,...,20.0,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0
3,14.37,0.24,0.00,0.07,0.09,0.0,0.0,0.0,0.0,0.0,...,20.0,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0
4,14.37,0.21,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,20.0,21.0,22.0,21.0,27.0,22.0,22.0,23.0,23.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,14.69,0.27,0.03,0.09,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,20.0,27.0,20.0,19.0,21.0,21.0,23.0
1436,14.76,0.19,0.51,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,21.0,27.0,20.0,19.0,21.0,21.0,23.0
1437,14.76,0.24,0.93,0.09,0.09,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0
1438,14.76,0.21,0.85,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0
1439,14.76,0.19,0.43,0.07,0.09,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0

### заполним NaN предыдущими значениями

In [6]:
data_filled = cleared_data.copy()
data_filled = data_filled.fillna(method='ffill')
data_filled

,"Ubs,V","Ibs,A","Isun,A","Ipt1,A","Ipt2,A","Ipt3,A","Ipt4,A","Ipt5,A","Ipt6,A","Ipt7,A",...,"TDS6,C","TDS7,C","TDS8,C","TDS9,C","TKpt,C","TGbv,C","TNap,C","TPrd2,C","TPrd1,C","TDS24,C"
0,14.37,0.27,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,20.0,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0
1,14.37,0.21,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,20.0,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0
2,14.37,0.21,0.00,0.04,0.07,0.0,0.0,0.0,0.0,0.0,...,20.0,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0
3,14.37,0.24,0.00,0.07,0.09,0.0,0.0,0.0,0.0,0.0,...,20.0,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0
4,14.37,0.21,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,20.0,21.0,22.0,21.0,27.0,22.0,22.0,23.0,23.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,14.69,0.27,0.03,0.09,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,20.0,27.0,20.0,19.0,21.0,21.0,23.0
1436,14.76,0.19,0.51,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,21.0,27.0,20.0,19.0,21.0,21.0,23.0
1437,14.76,0.24,0.93,0.09,0.09,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0
1438,14.76,0.21,0.85,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0
1439,14.76,0.19,0.43,0.07,0.09,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0

### преобразуем данные (min-max масштабирование по варианту)

In [7]:
scaler = MinMaxScaler(feature_range=(0, 1))
rescaled_data = pd.DataFrame(scaler.fit_transform(data_filled))
rescaled_data

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,0.900952,0.034934,0.000000,0.021277,0.014374,0.0,0.0,0.0,0.0,0.0,...,0.637555,0.735294,0.666667,0.666667,0.704545,0.993377,0.655022,0.740196,0.579399,0.538922
1,0.900952,0.021834,0.000000,0.021277,0.014374,0.0,0.0,0.0,0.0,0.0,...,0.637555,0.735294,0.666667,0.666667,0.704545,0.993377,0.655022,0.740196,0.579399,0.538922
2,0.900952,0.021834,0.000000,0.012158,0.014374,0.0,0.0,0.0,0.0,0.0,...,0.637555,0.735294,0.666667,0.666667,0.704545,0.993377,0.655022,0.740196,0.579399,0.538922
3,0.900952,0.028384,0.000000,0.021277,0.018480,0.0,0.0,0.0,0.0,0.0,...,0.637555,0.735294,0.666667,0.666667,0.704545,0.993377,0.655022,0.740196,0.579399,0.538922
4,0.900952,0.021834,0.000000,0.021277,0.014374,0.0,0.0,0.0,0.0,0.0,...,0.637555,0.730392,0.666667,0.662222,0.704545,0.993377,0.655022,0.740196,0.579399,0.538922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,0.961905,0.034934,0.005629,0.027356,0.014374,0.0,0.0,0.0,0.0,0.0,...,0.641921,0.730392,0.662222,0.657778,0.704545,0.980132,0.641921,0.730392,0.570815,0.538922
1436,0.975238,0.017467,0.095685,0.021277,0.014374,0.0,0.0,0.0,0.0,0.0,...,0.641921,0.730392,0.662222,0.662222,0.704545,0.980132,0.641921,0.730392,0.570815,0.538922
1437,0.975238,0.028384,0.174484,0.027356,0.018480,0.0,0.0,0.0,0.0,0.0,...,0.641921,0.730392,0.662222,0.662222,0.704545,0.980132,0.646288,0.730392,0.570815,0.538922
1438,0.975238,0.021834,0.159475,0.021277,0.014374,0.0,0.0,0.0,0.0,0.0,...,0.641921,0.730392,0.662222,0.662222,0.704545,0.980132,0.646288,0.730392,0.570815,0.538922
1439,0.975238,0.017467,0.080675,0.021277,0.018480,0.0,0.0,0.0,0.0,0.0,...,0.641921,0.730392,0.662222,0.662222,0.704545,0.980132,0.646288,0.730392,0.570815,0.538922

### присоединим столбец классов

In [8]:
rescaled_data_with_classes = rescaled_data.copy()
data_with_classes = data_filled.copy()

rescaled_data_with_classes.insert(loc = rescaled_data_with_classes.shape[1], column = 'Class', value = classes)
data_with_classes.insert(loc = data_with_classes.shape[1], column = 'Class', value = classes)
data_with_classes

,"Ubs,V","Ibs,A","Isun,A","Ipt1,A","Ipt2,A","Ipt3,A","Ipt4,A","Ipt5,A","Ipt6,A","Ipt7,A",...,"TDS7,C","TDS8,C","TDS9,C","TKpt,C","TGbv,C","TNap,C","TPrd2,C","TPrd1,C","TDS24,C",Class
0,14.37,0.27,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0,0
1,14.37,0.21,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0,0
2,14.37,0.21,0.00,0.04,0.07,0.0,0.0,0.0,0.0,0.0,...,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0,0
3,14.37,0.24,0.00,0.07,0.09,0.0,0.0,0.0,0.0,0.0,...,22.0,22.0,22.0,27.0,22.0,22.0,23.0,23.0,23.0,0
4,14.37,0.21,0.00,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,22.0,21.0,27.0,22.0,22.0,23.0,23.0,23.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,14.69,0.27,0.03,0.09,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,20.0,27.0,20.0,19.0,21.0,21.0,23.0,0
1436,14.76,0.19,0.51,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,27.0,20.0,19.0,21.0,21.0,23.0,0
1437,14.76,0.24,0.93,0.09,0.09,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0,0
1438,14.76,0.21,0.85,0.07,0.07,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0,0
1439,14.76,0.19,0.43,0.07,0.09,0.0,0.0,0.0,0.0,0.0,...,21.0,21.0,21.0,27.0,20.0,20.0,21.0,21.0,23.0,0

In [9]:
data_with_classes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 50 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ubs,V    1440 non-null   float64
 1   Ibs,A    1440 non-null   float64
 2   Isun,A   1440 non-null   float64
 3   Ipt1,A   1440 non-null   float64
 4   Ipt2,A   1440 non-null   float64
 5   Ipt3,A   1440 non-null   float64
 6   Ipt4,A   1440 non-null   float64
 7   Ipt5,A   1440 non-null   float64
 8   Ipt6,A   1440 non-null   float64
 9   Ipt7,A   1440 non-null   float64
 10  Ipt10,A  1440 non-null   float64
 11  Ipt11,A  1440 non-null   float64
 12  Ipt12,A  1440 non-null   float64
 13  Ipt13,A  1440 non-null   float64
 14  Ipt14,A  1440 non-null   float64
 15  Ipt15,A  1440 non-null   float64
 16  Ipt16,A  1440 non-null   float64
 17  Ipt17,A  1440 non-null   float64
 18  TR1,C    1440 non-null   float64
 19  TR2,C    1440 non-null   float64
 20  TR3,C    1440 non-null   float64
 21  TR4,C    1440 non-null   float64
 22  TR5,C    1440 non-null   float64
 23  TR6,C    1440 non-null   float64
 24  TR7,C    1440 non-null   float64
 25  TR8,C    1440 non-null   float64
 26  TR9,C    1440 non-null   float64
 27  TR10,C   1440 non-null   float64
 28  TR11,C   1440 non-null   float64
 29  TR12,C   1440 non-null   float64
 30  TR13,C   1440 non-null   float64
 31  TR14,C   1440 non-null   float64
 32  TR15,C   1440 non-null   float64
 33  TR16,C   1440 non-null   float64
 34  TDS1,C   1440 non-null   float64
 35  TDS2,C   1440 non-null   float64
 36  TDS3,C   1440 non-null   float64
 37  TDS4,C   1440 non-null   float64
 38  TDS5,C   1440 non-null   float64
 39  TDS6,C   1440 non-null   float64
 40  TDS7,C   1440 non-null   float64
 41  TDS8,C   1440 non-null   float64
 42  TDS9,C   1440 non-null   float64
 43  TKpt,C   1440 non-null   float64
 44  TGbv,C   1440 non-null   float64
 45  TNap,C   1440 non-null   float64
 46  TPrd2,C  1440 non-null   float64
 47  TPrd1,C  1440 non-null   float64
 48  TDS24,C  1440 non-null   float64
 49  Class    1440 non-null   int64
dtypes: float64(49), int64(1)
memory usage: 562.6 KB

In [10]:
class_counts = data_with_classes['Class'].value_counts()
class_counts

0    1109
1     210
2     121
Name: Class, dtype: int64

### разделим набор на обучающую и тестовую выборки

In [11]:
test_size = 0.2
seed = 7

# ИСХОДНЫЙ
data_X = data_with_classes.iloc[:, :-1]
data_Y = data_with_classes['Class']

data_X_train, data_X_test, data_Y_train, data_Y_test = train_test_split(data_X, data_Y, test_size=test_size, random_state=seed)


# ПРЕОБРАЗОВАННЫЙ
rescaled_data_X = rescaled_data_with_classes.iloc[:, :-1]
rescaled_data_Y = rescaled_data_with_classes['Class']

rescaled_data_X_train, rescaled_data_X_test, rescaled_data_Y_train, rescaled_data_Y_test = train_test_split(rescaled_data_X, rescaled_data_Y, test_size=test_size, random_state=seed)


datasets = [{'X_train': data_X_train, 'X_test': data_X_test, 'Y_train': data_Y_train, 'Y_test': data_Y_test, 'name': 'original_data'},
            {'X_train': rescaled_data_X_train, 'X_test': rescaled_data_X_test, 'Y_train': rescaled_data_Y_train, 'Y_test': rescaled_data_Y_test, 'name': 'original_rescaled_data'}]

### определим гиперпараметры для GRU

In [14]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import GRU, Dense, Embedding, Reshape, LSTM
from tensorflow.keras.utils import to_categorical

for dataset in datasets:
    print(f'{dataset.get("name")}:')
    X_train = dataset.get('X_train')
    Y_train = to_categorical(dataset.get('Y_train'), num_classes=3)

    # Создание модели
    model = Sequential()
    model.add(Reshape((49, 1), input_shape=(49,)))
    model.add(GRU(32, return_sequences=True))
    model.add(GRU(32, return_sequences=True, activation='relu'))
    model.add(GRU(32, return_sequences=False))
    model.add(Dense(3, activation='softmax'))

    model.compile(optimizer='adam', loss='categorical_crossentropy',  metrics=['accuracy'])

    history = model.fit(X_train, Y_train, epochs=15, batch_size=30, validation_split=0.1)

original_data:
Epoch 1/15
35/35 [==============================] - 14s 140ms/step - loss: 0.6753 - accuracy: 0.7625 - val_loss: 0.3587 - val_accuracy: 0.9138
Epoch 2/15
35/35 [==============================] - 3s 94ms/step - loss: 0.4657 - accuracy: 0.8571 - val_loss: 0.3407 - val_accuracy: 0.9224
Epoch 3/15
35/35 [==============================] - 3s 97ms/step - loss: 0.4384 - accuracy: 0.8707 - val_loss: 0.3616 - val_accuracy: 0.8879
Epoch 4/15
35/35 [==============================] - 3s 96ms/step - loss: 0.4209 - accuracy: 0.8774 - val_loss: 0.2951 - val_accuracy: 0.9224
Epoch 5/15
35/35 [==============================] - 3s 96ms/step - loss: 0.3958 - accuracy: 0.8890 - val_loss: 0.2845 - val_accuracy: 0.9310
Epoch 6/15
35/35 [==============================] - 3s 92ms/step - loss: 0.3857 - accuracy: 0.8909 - val_loss: 0.2701 - val_accuracy: 0.9397
Epoch 7/15
35/35 [==============================] - 3s 100ms/step - loss: 0.3853 - accuracy: 0.8880 - val_loss: 0.2976 - val_accuracy: 0.9224
Epoch 8/15
35/35 [==============================] - 4s 123ms/step - loss: 0.3833 - accuracy: 0.8880 - val_loss: 0.2900 - val_accuracy: 0.9224
Epoch 9/15
35/35 [==============================] - 3s 100ms/step - loss: 0.3842 - accuracy: 0.8851 - val_loss: 0.2675 - val_accuracy: 0.9310
Epoch 10/15
35/35 [==============================] - 4s 103ms/step - loss: 0.3827 - accuracy: 0.8900 - val_loss: 0.2720 - val_accuracy: 0.9310
Epoch 11/15
35/35 [==============================] - 3s 99ms/step - loss: 0.3752 - accuracy: 0.8929 - val_loss: 0.2670 - val_accuracy: 0.9310
Epoch 12/15
35/35 [==============================] - 4s 108ms/step - loss: 0.3775 - accuracy: 0.8909 - val_loss: 0.2712 - val_accuracy: 0.9310
Epoch 13/15
35/35 [==============================] - 4s 100ms/step - loss: 0.3756 - accuracy: 0.8890 - val_loss: 0.2635 - val_accuracy: 0.9310
Epoch 14/15
35/35 [==============================] - 3s 94ms/step - loss: 0.3791 - accuracy: 0.8900 - val_loss: 0.2641 - val_accuracy: 0.9310
Epoch 15/15
35/35 [==============================] - 4s 107ms/step - loss: 0.3737 - accuracy: 0.8919 - val_loss: 0.2722 - val_accuracy: 0.9310
original_rescaled_data:
Epoch 1/15
35/35 [==============================] - 16s 166ms/step - loss: 0.7975 - accuracy: 0.7635 - val_loss: 0.5508 - val_accuracy: 0.8276
Epoch 2/15
35/35 [==============================] - 4s 100ms/step - loss: 0.6724 - accuracy: 0.7635 - val_loss: 0.5751 - val_accuracy: 0.8276
Epoch 3/15
35/35 [==============================] - 4s 110ms/step - loss: 0.6605 - accuracy: 0.7712 - val_loss: 0.5176 - val_accuracy: 0.8362
Epoch 4/15
35/35 [==============================] - 4s 127ms/step - loss: 0.6193 - accuracy: 0.8002 - val_loss: 0.4497 - val_accuracy: 0.8621
Epoch 5/15
35/35 [==============================] - 4s 123ms/step - loss: 0.5842 - accuracy: 0.8185 - val_loss: 0.4774 - val_accuracy: 0.9138
Epoch 6/15
35/35 [==============================] - 4s 112ms/step - loss: 0.5698 - accuracy: 0.8272 - val_loss: 0.3843 - val_accuracy: 0.9138
Epoch 7/15
35/35 [==============================] - 4s 100ms/step - loss: 0.5778 - accuracy: 0.8263 - val_loss: 0.4116 - val_accuracy: 0.8879
Epoch 8/15
35/35 [==============================] - 4s 101ms/step - loss: 0.5538 - accuracy: 0.8282 - val_loss: 0.3519 - val_accuracy: 0.9138
Epoch 9/15
35/35 [==============================] - 3s 99ms/step - loss: 0.5451 - accuracy: 0.8349 - val_loss: 0.3529 - val_accuracy: 0.9052
Epoch 10/15
35/35 [==============================] - 4s 110ms/step - loss: 0.5580 - accuracy: 0.8330 - val_loss: 0.3843 - val_accuracy: 0.9052
Epoch 11/15
35/35 [==============================] - 4s 122ms/step - loss: 0.5166 - accuracy: 0.8417 - val_loss: 0.3392 - val_accuracy: 0.9052
Epoch 12/15
35/35 [==============================] - 4s 102ms/step - loss: 0.5377 - accuracy: 0.8369 - val_loss: 0.3863 - val_accuracy: 0.9138
Epoch 13/15
35/35 [==============================] - 4s 100ms/step - loss: 0.5184 - accuracy: 0.8398 - val_loss: 0.4008 - val_accuracy: 0.9224
Epoch 14/15
35/35 [==============================] - 4s 106ms/step - loss: 0.4961 - accuracy: 0.8475 - val_loss: 0.3360 - val_accuracy: 0.9224
Epoch 15/15
35/35 [==============================] - 4s 105ms/step - loss: 0.5499 - accuracy: 0.8378 - val_loss: 0.3694 - val_accuracy: 0.9138

In [21]:
from sklearn.metrics import classification_report


# получаем прогнозы модели на тестовых данных
Y_pred = np.argmax(model.predict(data_X_test), axis=-1)

# преобразуем метки классов и предсказания в одномерные массивы
Y_test_flat = np.squeeze(np.asarray(data_Y_test))
Y_pred_flat = Y_pred.flatten()

# выводим отчет о классификации
print(classification_report(Y_test_flat, Y_pred_flat))

9/9 [==============================] - 0s 34ms/step
              precision    recall  f1-score   support

           0       0.92      0.60      0.72       222
           1       0.29      0.85      0.43        48
           2       0.00      0.00      0.00        18

    accuracy                           0.60       288
   macro avg       0.40      0.48      0.38       288
weighted avg       0.75      0.60      0.63       288

C:\Users\begin\Desktop\omegalols\labs\env\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\begin\Desktop\omegalols\labs\env\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\begin\Desktop\omegalols\labs\env\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Реализация градиентного бустинга

In [22]:
params_gbr = {
    'learning_rate': [0.01, 0.1, 1],
    'n_estimators': [50, 100, 200],
    'max_depth': [1, 2, 3, 4, 5]
}

In [24]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import GradientBoostingClassifier

gradboost_model = GradientBoostingClassifier()
grid_search = GridSearchCV(gradboost_model,
                           params_gbr,
                           n_jobs=-1,
                           cv=2,)
grid_search.fit(data_X_train,
                data_Y_train)
best_gbr = grid_search.best_params_
print(f'Лучшие гиперпараметры для исходного набора преобразованных данных:', best_gbr, '\n')


gbr_model = GradientBoostingClassifier(**best_gbr)
gbr_model.fit(data_X_train, data_Y_train)
prediction_train = gbr_model.predict(data_X_train)
rmse_train = np.sqrt(mean_squared_error(data_Y_train, prediction_train))
r2_train = r2_score(data_Y_train, prediction_train)
print(f'RMSE для обучающей выборки:', '%.4f' %rmse_train)
print(f'R2 для обучающей выборки:', '%.4f' %r2_train, '\n')

prediction_test = gbr_model.predict(data_X_test)
rmse_test = np.sqrt(mean_squared_error(data_Y_test, prediction_test))
r2_test = r2_score(data_Y_test, prediction_test)
print(f'RMSE для тестовой:', '%.4f' %rmse_test)
print(f'R2 для тестовой:', '%.4f' %r2_test)

Лучшие гиперпараметры для исходного набора преобразованных данных: {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 200}

RMSE для обучающей выборки: 0.0417
R2 для обучающей выборки: 0.9956

RMSE для тестовой: 0.3486
R2 для тестовой: 0.6335